<h1>CREAR CUENTA</h1>
<div class="login-page">
    <div class="form">
        <form class="">
            <input type="text" placeholder="usuario" />
            <input type="password" placeholder="contrsaseña" />
            <input type="text" placeholder="nombre" />
            <input type="text" placeholder="apellido" />
            <input type="text" placeholder="correo" />

            <button>registrar</button>
            <p class="message">Iniciar sesión <a href="http://localhost:4200/login">Login</a></p>
        </form>

    </div>
</div>