<!DOCTYPE html>
<html>

<head>
    <meta charset='UTF-8'>

    <title>publicacion</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div id="page-wrap">
        <div class="main-block">
            <h1>Crear Publicación</h1>
            <form action="/">
                <hr>
                <div class="account-type"></div>


                <textarea type="text" name="name" id="publicacion" rows="10" cols="35" placeholder="   publicacion"></textarea>

                <hr>
                <div class="btn-block"><button type="submit" href="" id="crearCurso">Crear</button></div>
            </form>
        </div><br><br><br>
        <div class="editar">
            <h1>Editar Publicacion</h1>
            <input type="text" id="idPub" name="name" required minlength="4" placeholder="ID publicacion ">
            <br>
            <br>
            <textarea type="text" name="name" id="pubNue" rows="10" cols="35" placeholder="   publicacion nueva"></textarea>

            <div class="btn-block">
                <button type="submit" href="" id="editarPub">Editar</button>
            </div>
        </div>
        <div class="editar">
            <h1>Eliminar Publicacion</h1>
            <input type="text" id="idPub" name="name" required minlength="4" placeholder="ID publicacion ">
            <br>
            <div class="btn-block"><button type="submit" href="" id="delete">Eliminar</button></div>
        </div>
        <div class="actu"><button type="submit" href="" id="actu">Actualizar</button></div>

    </div>
</body>

</html>