<div class="container">
    <div class="message signup">
        <div class="btn-wrapper">
            <div class="form form--login">
                <div class="form--heading">Iniciar Sesión</div>
                <form autocomplete="off">
                    <input type="text" id="user" placeholder="usuario">
                    <input type="password" id="pass" placeholder="contraseña">
                    <button class="button">Iniciar sesión</button>

                    <h3><a href="/">¿Olvidó su contraseña?</a></h3>
                </form>
            </div>

        </div>
    </div>
    <div class="form form--signup">
        <div class="form--heading">Registrarse</div>
        <form autocomplete="off">
            <input type="text" id="usuario" placeholder=" usuario ">
            <input type="email " id="nombre" placeholder=" nombre ">
            <input type="email " id="apellido" placeholder="apellido ">
            <input type="password " id="contra" placeholder="contraseña ">
            <input type="email " id="correo" placeholder="correo ">
            <button class="button ">Registrarse</button>
        </form>
    </div>

</div>